workflows/intent-booking_request.json
{
  "name": "booking_request_v1",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "32499ca5-958b-4619-b81b-41d2f8471324",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You analyze booking requests.\n\nIf the user has provided dates and confirmation intent, return:\nbooking_possible\n\nIf information is missing, return:\nbooking_missing_info\n"
            },
            {
              "content": "={{$json.user_message || $json.message_text}}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "2a657365-cdea-409b-bdaf-4d25add5c4d1",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "0A3a0nYBXpTOY7lo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86373c11-9464-4875-8575-3c855dc5aa25",
              "name": "booking_status",
              "value": "={{$json}}",
              "type": "string"
            },
            {
              "id": "deefe1bd-3167-4be8-b359-be17d5c82c9f",
              "name": "booking_reference",
              "value": "TEMP123",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        0
      ],
      "id": "b50d057d-fc21-4a3c-bed2-e05c54a7951a",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d9f60692-36db-4165-a448-eefe4f9d9f00",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3bd8fdcbec265afb139c830f4d26119773c9963b2513cb597f5ee96678a70c4"
  },
  "id": "O6uM2BVE4d7_g8UkO5nsC",
  "tags": []
}
