workflows/intent-availability.json
{
  "name": "availability_check_v1",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "9741ee3e-dc4f-4470-b02b-37ee81dc4d16",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba35b557-9d3a-46a9-85cb-72bbbfff4294",
              "name": "user_message",
              "value": "={{$json.message_text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -16
      ],
      "id": "05fe1416-cb06-44bd-afff-7434c54a446e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You extract date information from user messages.\n\nIf dates are present, return them in this format:\nstart_date: YYYY-MM-DD\nend_date: YYYY-MM-DD\n\nIf dates are missing or unclear, return:\nmissing_dates\n"
            },
            {
              "content": "={{$json.user_message}}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        368,
        -16
      ],
      "id": "07a71c75-0d11-47bd-9d44-a200f5201000",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "0A3a0nYBXpTOY7lo",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e2981acf-c21a-41c8-b9e8-77d7be81a24d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3bd8fdcbec265afb139c830f4d26119773c9963b2513cb597f5ee96678a70c4"
  },
  "id": "54b2TJWaqKJac92BGq1aA",
  "tags": []
}
