workflows/reply-generator.json
{
  "name": "Reply_generator",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "21c6390b-dae8-40f9-99be-a2ff9109bb9c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a friendly WhatsApp assistant for a short-term rental property.\n\nUse the provided intent and context to reply clearly and politely.\nDo not invent information.\nIf something is missing, ask a short follow-up question.\n"
            },
            {
              "content": "=Guest message:\n{{$json.user_message}}\n\nIntent:\n{{$json.intent}}\n\nContext:\n{{JSON.stringify($json.context, null, 2)}}\n\nWrite a short, friendly WhatsApp reply.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "c8abe483-9934-4e7a-b821-b2ac4eef6e5a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "0A3a0nYBXpTOY7lo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d8b7afb-6000-459e-9f2a-809a13ec5d96",
              "name": "intent",
              "value": "={{$json.intent}}",
              "type": "string"
            },
            {
              "id": "6fd9de9e-3923-41fd-8f27-ed92d02d8271",
              "name": "user_message",
              "value": "={{$json.user_message || $json.message_text || $json.text || \"\"}}",
              "type": "string"
            },
            {
              "id": "f39af289-bbd7-47dd-bd92-b7f40386cde4",
              "name": "context",
              "value": "={{$json}}\n",
              "type": "string"
            },
            {
              "id": "9df486cc-bfa8-417b-bff7-6d71e2e13137",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "65c20fdd-a785-4336-8072-c78f21f1c3ae",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e9f2d96b-6aa6-45b5-999b-d33f7db683f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3bd8fdcbec265afb139c830f4d26119773c9963b2513cb597f5ee96678a70c4"
  },
  "id": "ZGo7nz3SBGY-CePCtPrhc",
  "tags": []
}
